.sendMail {
    position: absolute;
    bottom: 0px;
    right: 50px;
    background-color: white;
    width: 40%;
    height: 40%;
    max-width: 500px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid whitesmoke;
    box-shadow: 0px 5px 7px 0px rgbs(0, 0, 0, 0.24);
}
.sendMail_options {
    display: flex;
    flex-direction: column;
    bottom: 0px;
    position: fixed;
}
.sendMail > form {
    display: grid;
}
.sendMail > form > input {
    height: 30px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid whitesmoke;
    outline: none;
}
.sendMail_header {
    padding: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    background-color: #404040;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.sendMail_header > h3 {
    color: whitesmoke;
    font-weight: 13px;
}
.sendMail_close {
    cursor: pointer;
}
.sendMail_send {
    background-color: #3070ed !important;
    text-transform: capitalize !important;
    margin: 15px !important;
}

.sendMail_message {
    flex: 1;
}
.sendMail_error {
    background-color: white;
    color: red;
    text-align: right;
    padding: 2px;
}
